---
interface Props {
  label: string;
  title_line_1: string;
  title_line_2: string;
  description: string;
  link: string;
  button_text: string;
}

const { label, title_line_1, title_line_2, description, link, button_text } =
  Astro.props;

let pr_color = "#fff";
let second_color = "#0a0a0a";
let color_1_1 = "burlywood";
let color_1_2 = "black";
let cubicbz = "cubic-bezier(0.9, 0, 0.1, 1)";
let fz_big = "60px";
let pd = "50px";
---

<div class="scroll_item">
  <span class="item_num">{label}</span>
  <h2 class="item_title">
    {title_line_1}
    <span class="stroke">{title_line_2}</span>
  </h2>
  <div class="item_desc">{description}</div>
  <a class="item_link" href={link}>{button_text}</a>
</div>

<style
  define:vars={{
    pr_color,
    second_color,
    color_1_1,
    color_1_2,
    cubicbz,
    fz_big,
    pd,
  }}
>
  * {
    box-sizing: border-box;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    margin: 0;
    padding: 0;
    font-feature-settings:
      "pnum" on,
      "lnum" on;
  }

  .scroll_item {
    margin: auto;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* outline: 1px solid green; */
  }

  .item_num {
    display: block;
    line-height: 0.9;
    text-align: right;
    font-size: 10px;
    transform: skew(-20deg);
    color: var(--color_1_1);
  }

  .item_title {
    text-align: right;
    font-size: 70px;
    text-transform: uppercase;
    color: var(--pr_color);
  }

  .item_title .stroke {
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px var(--pr_color);
  }

  .item_link {
    display: block;
    max-width: 365px;
    width: 150%;
    margin-top: 50px;
    margin-left: auto;
    padding: 18px 0;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--pr_color);
    letter-spacing: 4px;
    border: 2px solid var(--color_1_1);
    border-radius: 30px;
    transition: 0.4s;
  }

  .item_link:hover {
    background: var(--color_1_1);
    color: var(--color_1_2);
    letter-spacing: 6px;
  }
  .item_desc {
    text-align: right;
    max-width: 365px;
    margin-left: auto;
  }

  @media screen and (max-width: 500px) {
    .item_title {
      font-size: 50px;
    }
  }
  @media screen and (max-width: 800px) {
    .item_title,
    .item_num,
    .item_desc {
      text-align: left;
    }
  }
</style>
